#section1-index {
    #volver1 {
        font-weight:900;
        font-size: 4.67289719626vw;
        vertical-align: top;
        width: 28.0373831776vw;
        margin-left: 5.14018691589vw;
        margin-right: 1.40186915888vw;
        padding-top: 6.54205607477vw;
    }
    #yo-foto {
        width: 39.7196vw;
        height: 39.7196vw;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: #101820 solid 5px;
        border-top: 0px;
        box-shadow: $myshadow;
    }
}
#section2-index{
    #p1 {
        width: 37.3831775701vw;
        margin: 1.8691588785vw;
        .quienesomos {
            width: 37.3831775701vw;
            height: 16.8224299065vw;
        }
    }
    #uniteprincipal {
        display: flex;
        align-self: center;
        margin-left: 34px;
        padding: 8px;
        height: fit-content;
        a{
            div{
                border-radius: 5px;
                background-color: #101820;
                color: #a5bacf;
                padding-right: 8px;
                padding-left: 8px;
                padding-top: 4px;
                padding-bottom: 4px;
                @include animacion2;
            }
            #profeavatar {
                width: 25vw;
                height: 25vw;
            }
        }
    }
}
#section3-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
    #p2 {   
        width: 60.7476635514vw;
        margin-top: 0.93457943925vw;
    }
    #mapa {
        margin-bottom: 1.40186915888vw;
        border-top: #101820 solid 3px;
        border-bottom: #101820 solid 3px;
    }
}
#p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    h2{
        width: 90%;
        margin-right: 3px;
        margin-left: 3px;
    }
    #enfoque{
        width: 50.1869158879vw;
        text-align: center;
    }
    #materiales {
        width: 74.7663551402vw;
        margin-bottom: 2.80373831776vw;
        .material-directo {
            width: 239px;
            height: 134px;
        }
        #puntajematerial1 {
            direction: rtl;
            unicode-bidi: bidi-override;
            input[type=radio] {
                display: none;
            }
            input[type=submit] {
                background: none;
                font-weight:bolder;
                font-size: 17px;
            }
            label {
                color: grey;
            }
            label:hover, label:hover ~ label {
                color: #005b88;
            }
            input[type=radio]:checked ~ label {
                color: #005b88;
            }
        }
        #puntajematerial2 {
            direction: rtl;
            unicode-bidi: bidi-override;
            input[type=radio] {
                display: none;
            }
            input[type=submit] {
                background: none;
                font-weight:bolder;
                font-size: 17px;
            }
            label {
                color: grey;
            }
            label:hover, label:hover ~ label {
                color: #005b88;
            }
            input[type=radio]:checked ~ label {
                color: #005b88;
            }
        }
        #puntajematerial3 {
            direction: rtl;
            unicode-bidi: bidi-override;
            input[type=radio] {
                display: none;
            }
            input[type=submit] {
                background: none;
                font-weight:bolder;
                font-size: 17px;
            }
            label {
                color: grey;
            }
            label:hover, label:hover ~ label {
                color: #005b88;
            }
            input[type=radio]:checked ~ label {
                color: #005b88;
            }
        }
    }
}
#h3-index{
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
@keyframes sumatee2{
    0%{
      transform: scale(1, 1);
    }
    50%{
      transform: scale(1.1, 1.1);
    }
    100%{
      transform: scale(1, 1);
    }
  }
/* Media queries general de computadora */
@media (max-width: 1006px){
    #section2-index{
        #uniteprincipal {
            margin-left: 0px;
        }
    }
}
/* Media queries general de celular */
@media (max-width: 780px){
    #section1-index {
        display: flex;
        flex-direction: column; 
        align-items: center;          
        #volver1 {
            font-weight:900;
            font-size: 6vw;
            text-align: center;
            vertical-align: top;
            width: fit-content;
            padding: 0px 8px 5px 8px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 6.54205607477vw;
            border-radius: 5px;
            background-color: #101820;
            color: #a5bacf;
            box-shadow: $myshadow2;
            z-index: 1;
        }
        #yo-foto {
            width: 42vw;
            height: 42vw;
            border-radius: 5px;
            margin-bottom: 8px;
            border: #101820 solid 5px;
            border-top: 0px;
            box-shadow: $myshadow;
        }
    }
    #section2-index {
        display: flex;
        flex-direction: column; 
        align-items: center;
        #p1 {
            margin: 0px;
            width: 51.2820512821vw;
            margin-top: 10px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                width: 100vw;
            }
            .quienesomos {
                width: 51.2820512821vw;
                height: 35.9187780481vw;
            }
        }
        #uniteprincipal {
            display: flex;
            align-self: center;
            padding: 8px;
            height: fit-content;
            margin-left: 0px;
            a {
                div {
                    border-radius: 5px;
                    background-color: #101820;
                    color: #a5bacf;
                    padding-right: 8px;
                    padding-left: 8px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    font-size: 20px;
                    @include animacion2;
                }
                #profeavatar {
                    width: 40vw;
                    height: 40vw;
                }
            }
        }
    }
    #section3-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 8px;
        #p2 {   
            width: 60.7476635514vw;
            margin-top: 0.93457943925vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                width: 100vw;
            }
        }
        #mapa {
            margin-bottom: 1.40186915888vw;
            border-top: #101820 solid 3px;
            border-bottom: #101820 solid 3px;
        }
    }
}
@media (max-width: 400px){
    #section1-index {
        display: flex;
        flex-direction: column; 
        align-items: center;          
        #volver1 {
            font-weight:900;
            font-size: 6vw;
            text-align: center;
            vertical-align: top;
            width: fit-content;
            padding: 0px 8px 5px 8px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 6.54205607477vw;
            border-radius: 5px;
            background-color: #101820;
            color: #a5bacf;
            box-shadow: $myshadow2;
            z-index: 1;
        }
        #yo-foto {
            width: 60vw;
            height: 60vw;
            border-radius: 5px;
            margin-bottom: 8px;
            border: #101820 solid 5px;
            border-top: 0px;
            box-shadow: $myshadow;
        }
    }
    #section2-index {
        display: flex;
        flex-direction: column; 
        align-items: center;
        #p1 {
            margin: 0px;
            width: 51.2820512821vw;
            margin-top: 10px;
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                width: 100vw;
            }
            .quienesomos {
                width: 59.6214vw;
                height: 41.76vw;
            }
        }
        #uniteprincipal {
            display: flex;
            align-self: center;
            padding: 8px;
            height: fit-content;
            margin-left: 0px;
            a {
                display: grid;
                div {
                    display: flex;
                    justify-self: center;
                    border-radius: 5px;
                    background-color: #101820;
                    color: #a5bacf;
                    padding-right: 8px;
                    padding-left: 8px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    font-size: 20px;
                    width: 80%;
                    @include animacion2;
                }
                #profeavatar {
                    display: flex;
                    justify-self: center;
                    width: 60vw;
                    height: 60vw;
                }
            }
        }
    }
    #section3-index {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 8px;
        #p2 {   
            width: 60.7476635514vw;
            margin-top: 0.93457943925vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                width: 80vw;
            }
        }
        #mapa {
            margin-bottom: 1.40186915888vw;
            border-top: #101820 solid 3px;
            border-bottom: #101820 solid 3px;
        }
    }
}
