#volver1 {
    font-weight:900;
    font-size: 4.67289719626vw;
    vertical-align: top;
    width: 28.0373831776vw;
    margin-left: 5.14018691589vw;
    margin-right: 1.40186915888vw;
    padding-top: 6.54205607477vw;
}
#yo-foto {
    width: 39.7196vw;
    height: 39.7196vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #101820 solid 5px;
    border-top: 0px;
    box-shadow: $myshadow;
}
#p1 {
    width: 37.3831775701vw;
    margin: 1.8691588785vw;
    .h2-index {
        font-weight: 400;
        font-size: 2.33644859813vw;
    }
    .quienesomos {
        width: 37.3831775701vw;
        height: 16.8224299065vw;
    }
}
#uniteprincipal {
    display: flex;
    align-self: center;
    margin-left: 34px;
    padding: 8px;
    height: fit-content;
    a{
        div{
            border-radius: 5px;
            background-color: #101820;
            color: #a5bacf;
            padding-right: 8px;
            padding-left: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
            @include animacion2;
        }
        #profeavatar {
            width: 25vw;
            height: 25vw;
        }
    }
}
#section3-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    #p2 {   
        width: 60.7476635514vw;
        margin-top: 0.93457943925vw;
    }
    #mapa {
        margin-bottom: 1.40186915888vw;
        border-top: #101820 solid 3px;
        border-bottom: #101820 solid 3px;
    }
}

#p3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    h2{
        width: 100%;
    }
    #enfoque{
        width: 50.1869158879vw;
        text-align: center;
    }
    #materiales {
        width: 74.7663551402vw;
        margin-bottom: 2.80373831776vw;
        .material-directo {
            width: 22.3364485981vw;
            height: 12.523364486vw;
        }
        .puntajematerial {
            direction: rtl;
            unicode-bidi: bidi-override;
            input[type=radio] {
                display: none;
            }
            label {
                color: grey;
            }
            label:hover, label:hover ~ label {
                color: #005b88;
            }
            input[type="radio"]:checked ~ label {
                color: #005b88;
            }
        }
    }
}
#h3-index{
    font-size: 30px;
}
@keyframes sumatee2{
    0%{
      transform: scale(1, 1);
    }
    50%{
      transform: scale(1.1, 1.1);
    }
    100%{
      transform: scale(1, 1);
    }
  }
/* Media queries general de computadora */
/* Media queries general de celular */