#grid-suscripcion{
    display: grid;
    grid-template-areas: 
    "titulo-s titulo-s"
    "sus sus"
    "promo promo"
    "form-s mateapoyer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    #volver4{
        grid-area: titulo-s;
        width: 77.5700934579vw;
        margin-left: 14px;
        font-size: 50px        ;
        padding-top: 3.73831775701vw;
        border-bottom: solid black 3px;
    }
    #h4-sus{
        grid-area: sus;
        font-size: 18px;
        margin-left: 14px;

    }
    #promo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-area: promo;
        article{
            display: grid;
            margin-top: 2.80373831776vw;
            width: 23.3644859813vw;
            height: 37.3831775701vw;
            align-content:space-evenly;
            background-color: #101820;
            color: #a5bacf;
            border: double black 4px;
            border-radius: 10px;
            box-shadow: $myshadow2;
            .h2-suscripcion{
                text-align: center;
                font-size: 3.27102803738vw;
            }
            .beneficios{
                padding-left: 0.93457943925vw;
                li {
                    font-size: 1.8691588785vw;
                    margin-bottom: 2.80373831776vw;
                }   
            }
            .p-suscripcion{
                display: flex;
                justify-content: center;
                text-align: center;
                align-self: end;
                flex-wrap: wrap;
                font-size: 2.80373831776vw;
                font-style: italic;
            }
        }
    }
    #mateapoyer{
        grid-area: mateapoyer;
        border-left: $color2 solid 3px;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        h3{
            margin-bottom: 8px;
        }
    }
    #form-s{
        grid-area: form-s;
        margin-left: 20px;
        margin-top: 20px;
        .form1-s{
            display: flex;
            width: fit-content;
            flex-direction: column;
            input, select{
                border: double black 3px;
                background-color: #101820;
                color: #a5bacf;
                border-radius: 10px;
                margin-bottom: 15px;
                height: 38px;
                padding-left: 6px;
                box-shadow: 10px 10px 10px $color2;
                &::placeholder{
                    color: #a5bacf;
                }
            }
            select{
                border: double black 3px;
                background-color: #101820;
                color: #a5bacf;
                border-radius: 10px;
                margin-bottom: 15px;
                height: 38px;
                padding-left: 4px;
                &::placeholder{
                    color: #a5bacf;
                }
            }
        }
        .form2-s{
            width: 400px;
            img{
                width: 100px;
                height: auto;
                transform: translate(-18px, 0px);
                border: solid black 3px;
                border-radius: 10px;
                box-shadow: 10px 10px 10px $color2;
            }
            div{
                display: flex;
                flex-direction: row;
                margin-top: 8px;
                .contires{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                    width: 100px;
                    height: 30px;
                    margin-top: 5px;
                    font-size: 16px;
                    background-color: $color2;
                    color: $color1;
                    font-weight: 700;
                    vertical-align: center;
                    border: double black 3px;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    margin-right: 20px;
                    box-shadow: 10px 10px 10px $color2;
                }
            }
        }
    }
}
@media (max-width: 929px){
   #grid-suscripcion{
        #mateapoyer{
            iframe{
                width: 256.787px;
                height: 149.6px;
            }
        }
   }
}
@media (max-width: 861px){
    #grid-suscripcion{
        display: grid;
        text-align: center;
        grid-template-areas: 
        "titulo-s titulo-s"
        "sus sus"
        "promo promo"
        "form-s form-s"
        "mateapoyer mateapoyer";
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: auto auto;
        #volver4{
            display: flex;
            justify-content: center;
            justify-self: center;
            margin-left: 0px;
        }
        #h4-sus{
            display: flex;
            justify-self: center;
            justify-content:left;
            width: max-content;
            margin-left: 0px;
            a{
                margin-left: 2px;
                margin-right: 2px;
            }
        }
        #form-s{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            grid-area: form-s;
            margin-left: 0px;
            margin-top: 20px;
            .form1-s{
                display: flex;
                flex-direction: column;
                align-content: center;
                flex-wrap: wrap;
                width: 100%;
                input, select{
                    font-size: 20px;
                }
            }
            .form2-s{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 350px;
                input:not(.contires){
                    max-height: 0px;
                }
                img{
                    width: 100px;
                    height: auto;
                    transform: translate(-6px, 0px);
                }
                div{
                    .contires{
                        font-size: 17px;
                    }
                }
            }
        }
        #mateapoyer{
            margin-right: 0px;
            margin-right: 0px;
            border-left: 0px;
            iframe{
                width: auto;
                height: auto;
            }
            h3{
                font-size: 30px;
            }
            h5{
                font-size: 18px;
            }
        }
        #promo {
            article {
                height: 50.3831775701vw;
                .p-suscripcion {
                    font-size: 24px;
                }
                .beneficios{
                    li{
                        font-size: 17px;
                    }
                }
                height: 400px;
                .h2-suscripcion{
                    font-size: 24px;
                }
             
            }
        }
    }
}
@media (max-width: 654px){
    #grid-suscripcion {
        #h4-sus {
            display: flex;
            justify-self: center;
            justify-content:left;
            width: max-content;
            margin-left: 0px;
            font-size: 14px;
            a{
                margin-left: 2px;
                margin-right: 2px;
            }
        }
        #promo {
            article {
                height: 400px;
                .h2-suscripcion{
                    font-size: 20px;
                }
                .beneficios {
                    li {
                        font-size: 16px;
                    }
                }
                .p-suscripcion {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 516px){
    #grid-suscripcion{
        #h4-sus{
            font-size: 12px;
        }
        #promo {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: wrap;
            article {
                height: 160px;
                width: 80%;
                .h2-suscripcion{
                    font-size: 20px;
                }
                .beneficios {
                    li {
                        font-size: 16px;
                    }
                }
                .p-suscripcion {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 452px){
    #grid-suscripcion{
        #h4-sus{
            font-size: 10px;
        }
    }
}
@media (max-width: 420px){
    #grid-suscripcion{
        #volver4{
            font-size: 6.99300699301vw;
            border: 0px;
            width: 60%;
            border-bottom: black solid 2px;
        }
        #h4-sus{
            font-size: 2.331002331vw;
            width: 81.5850815851vw;
        }
        #promo{
            width: 81.5850815851vw;
            article{
                width: 46.62004662vw;
                height: 250px; //58.2750582751vw
                .h2-suscripcion{
                    font-size: 4.662004662vw;
                }
                .beneficios{
                    li {
                        font-size: 3.7296037296vw;
                    }   
                }
                .p-suscripcion{
                    font-size: 3.7296037296vw;
                }
            }
        }
        #mateapoyer{
            width: 81.5850815851vw;
            h3{
                width: 100%;
            }
            iframe{
                width: 256.787px;
                height: 149.6px;
            }
            h5{
                font-size: 3.2634032634vw;
            }
        }
        #form-s {
            width: 185px;
            margin-left: 19.2307692308vw;
            .form1-s {
                width: fit-content;
                input, select{
                    width: 178px;
                }
            }
            .form2-s{
                img{
                    width: 17.4825174825vw;
                }
                div{
                    .contires{
                        font-size: 3.9627039627vw;
                    }
                }
            }
        }
    }
}
